<% provide(:title, "Top") %>

<div class="main-container">
    <h1>CAFE QUEST</h1>
<div class="clearfix">
<div class="blackboard answer ">
<p>コーヒー探求の冒険へでかけますか？</p>
<p link_to login_path, class="blink-before">START（ユーザー登録）</p>
<p>CONTINUE(ログイン)</p>
</div>
</div>