<% provide(:title, "CAFE QUEST") %>

<div class="main-container">
    <h1>CAFE QUEST</h1>
    <div class="clearfix">
    <div class="blackboard answer">
      <p>コーヒー探求の冒険へ出かけますか？</p>
      <p id="start-link" class="menu-item"><span class="arrow">▶</span> <%= link_to 'START（ユーザー登録）', new_user_path, class: "blink-before" %></p>
      <p id="continue-link" class="menu-item"><span class="arrow" style="opacity: 0;">▶</span> <%= link_to 'CONTINUE（ログイン）', login_path, class: "blink-before" %></p>
    </div>
  </div>

  <script type="module">import "top";</script>