<% provide(:title, "Top") %>

<div class="container-flex">
  <div class="left-half-image">
    <%= image_tag "logo.jpeg", alt: "説明文" %>
  </div>
  <div class="center jumbotron">
    <h1>CAFE QUEST</h1>
    <h2>
      コーヒー探求の冒険へ
    </h2>
    <%= link_to "登録", '#', class: "btn btn-lg btn-primary" %>
  </div>
</div>
