
<head>
<title>Home | Ruby on Rails Tutorial Sample App</title>
</head>
<div aria-label="クリックして1枚目のスライドを見る" class="_amvr _amvt" tabindex="0" role="button">
  <div class="_amvs">
    <div class="_amvv">
      <div class="_a5n5 _al42 _al8o _a5n7 _aceh" style="border-radius:32px;">
        <div class="_8h4z _8h4- _a4zf">
               <img src="<%= asset_path 'logo.jpeg' %>" alt="Logo" class="logo-image">
        </div>
      </div>
    </div>
  </div>
  <!-- その他のコード -->
</div>