<% provide(:title, "Beanpedia") %>

<div class="container-fluid p-0 mt-4 bg-black text-white">
<div class="row g-0 align-items-center justify-content-center">
    <div class="col-md-6">
        <img src="/assets/sumaho.png" class="img-fluid rounded-4 border border-black" alt="Dynamic Duo">
    </div>
    <div class="col-md-6 text-center p-5">
        <h1>つながりと共に発見する</h1>
        <p>あなたのお気に入りのコーヒーを、記録 共有しよう</p>
        <p><%= link_to 'ユーザー登録', new_user_path, class: "btn btn-primary btn-lg" %></p>
        <p><%= link_to 'ログイン', login_path, class: "btn btn-primary btn-lg" %></p>
    </div>
</div>
</div>

<div class="row">
<div class="col-12 text-center text-white mt-4 mb-4">
  <h2>Beanpediaの特徴</h2>
</div>
</div>

<div class="hero-section">
<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-white display-4 fw-bold">あなたにあったコーヒー豆を提案します。</h1>
        <p class="lead text-white">Beanpediaは、あなたのアンケート結果から、お好みのコーヒー豆を提案します。</p>
        <p><%= link_to '提案を受けてみる',new_survey_path, class: "btn btn-primary" %></p>
    </div>
</div>
</div>

<div class="row g-0 position-relative mx-auto p-4 text-white">
  <div class="col-12 text-center mt-4 mb-4">
    <h2>コーヒーのフレーバー投稿</h2>
  </div>
<div class="col-md-4 mb-md-0 p-md-4 border border-white">
  <img src="/assets/koku.png" class="w-100" alt="画像">
  <div class="mt-4">
    <h5 class="mt-0 text-center ">コク（Body）</h5>
    <p>コーヒーが口の中でどれだけ重く、または軽く感じられるかを表します。コーヒーを飲んだ時に口の中に残る感触や粘度によって感じられます。コクのあるコーヒーはしっかりとしていて、口の中で滑らかな感じがあり、水っぽさが少なく感じられます。豆の種類、焙煎の度合い、抽出方法によってコクの強さが異なります。</p>
  </div>
</div>
<div class="col-md-4 p-md-4 border border-white">
<img src="/assets/nigami.png" class="w-100" alt="画像">
  <div class="mt-4">
    <h5 class="mt-0 text-center">苦味（Bitterness）</h5>
    <p>コーヒーの基本的な味覚の一つで、コーヒーの深い味わいを形成します。苦味は主に焙煎度によって左右され、焙煎が進むにつれて苦味が強くなります。また、コーヒーの抽出時間が長いほど、または粉が細かすぎると、過抽出により苦味が強くなることがあります。苦味はバランスが取れていると心地よく感じられ、コーヒーの味わいを豊かにします。</p>
  </div>
</div>
<div class="col-md-4 p-md-4 border border-white">
  <img src="/assets/sanmi.png" class="w-100" alt="画像">
  <div class="mt-4 text-center">
    <h5 class="mt-0">酸味（Acidity）</h5>
    <p>コーヒーのフレッシュさや活力を感じさせる要素で、味の明瞭さや爽やかさをもたらします。酸味が強いコーヒーはしばしばフルーティーで明るい味わいが特徴です。コーヒーの酸味は、豆の品種、生産地の気候や高度、土壌の種類、そして処理方法によって変わります。例えば、高地で栽培されたアラビカ種は酸味が強い傾向があります。</p>
  </div>
</div>
</div>



  <script type="module">import "top";</script>


