<% provide(:title, "Top") %>
<head>
<title></title>
</head>
<div aria-label="クリックして1枚目のスライドを見る" class="_amvr _amvt" tabindex="0" role="button">
  <div class="_amvs">
    <div class="_amvv">
      <div class="_a5n5 _al42 _al8o _a5n7 _aceh" style="border-radius:32px;">
        <div class="_8h4z _8h4- _a4zf">
               <img src="<%= asset_path 'logo.jpeg' %>" alt="Logo" class="logo-image">
        </div>
      </div>
    </div>
  </div>
  <!-- その他のコード -->
</div>

<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>