<h1>プライバシーポリシー</h1>

<p>「Cafe quest」（以下、「当方」といいます）は、当方が提供するウェブサービス（以下、「本サービス」といいます）において、利用者のプライバシーを尊重し、個人情報の保護に努めます。</p>

<h2>1. 個人情報の収集について</h2>
<p>当方は、本サービスの利用に際して、利用者から以下の情報を収集することがあります。</p>
<ul>
  <li>氏名</li>
  <li>メールアドレス</li>
  <li>その他当方が必要と判断する情報</li>
</ul>

<h2>2. 個人情報の利用目的</h2>
<p>収集した個人情報は、以下の目的で利用されます。</p>
<ul>
  <li>本サービスの提供および運営</li>
  <li>利用者からの問い合わせへの対応</li>
  <li>利用者への情報提供やサービスの案内</li>
  <li>サービス改善や新サービス開発のための分析</li>
  <li>利用規約違反などの不正行為への対応</li>
</ul>

<h2>3. 個人情報の第三者提供</h2>
<p>当方は、利用者の同意がある場合や法令に基づく場合を除き、収集した個人情報を第三者に提供することはありません。</p>

<h2>4. 個人情報の管理</h2>
<p>当方は、収集した個人情報の管理について、適切な安全対策を講じ、不正アクセスや紛失、破壊、改ざん、漏洩の防止に努めます。</p>

<h2>5. プライバシーポリシーの変更</h2>
<p>当方は、必要に応じて本プライバシーポリシーを変更することがあります。変更後のプライバシーポリシーは、本サービス上での掲示をもって公表とし、利用者はこれを確認の上で引き続き本サービスを利用するものとします。</p>

<h2>6. 問い合わせ</h2>
<p>本プライバシーポリシーに関する問い合わせは、以下の連絡先までお願いいたします。</p>
<p>運営</p>
<p>メールアドレス: [bbawaz12@gmail.com]</p>
