<header class="bg-warning text-white text-center py-3">
    <h1>500 - 内部サーバーエラー</h1>
  </header>
  <div class="container d-flex flex-column align-items-center justify-content-center" style="height: 70vh;">
    <div class="text-center">
      <h2 class="display-4">問題が発生しました。</h2>
      <p class="lead">内部サーバーエラーが発生しました。</p>
      <hr class="my-4">
      <p class="mb-4">トップページに戻って操作をやり直してください。</p>
      <a href="/" class="btn btn-primary btn-lg">トップページに戻る</a>
    </div>
  </div>
