<header class="bg-danger text-white text-center py-3">
<h1>404 - このページは存在しません</h1>
</header>
<div class="container d-flex flex-column align-items-center justify-content-center" style="height: 70vh;">
<div class="text-center">
  <h2 class="display-4">存在しないページにアクセスしました。</h2>
  <p class="lead"></p>
  <hr class="my-4">
  <p class="mb-4">トップページに戻って操作をやり直してください。</p>
  <a href="/" class="btn btn-primary btn-lg">トップページに戻る</a>
</div>
</div>
