<div class="line">
  <%= link_to "https://social-plugins.line.me/lineit/share?url=#{board_url(board)}&text=【2Seeds】%0a%0a#{board.title}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "LINEでシェア" do %>
    <i class="fab fa-line"></i>
  <% end %>
</div>

