<%= search_form_for @q, url: boards_path, html: { class: "d-flex" } do |f| %>
    <div class="input-group">
      <%= f.search_field :title_cont, placeholder: "検索", class: "form-control", data: { action: "input->autocomplete#search", autocomplete_target: "input" } %>
      <%= f.hidden_field :title, data: { autocomplete_target: "hidden" } %>
      <button class="btn btn-outline-secondary" type="button" onclick="location.href='<%= boards_path %>'">リセット</button>
    </div>
  <% end %>
  