<div class="twitter">
  <%= link_to "https://twitter.com/share?url=#{board_url(board)}&text=【2Seeds】%0a%0a#{board.title}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
    <i class="fab fa-x-twitter fa-2x"></i>
  <% end %>
</div>
