<% provide(:title, "QUEST一覧") %>
<div class="container pt-3">
  <div class="col-12">
      <% if @boards.present? %>
        <%= render @boards %>
      <% else %>
        <p>掲示板がありません</p>
      <% end %>
  </div>
</div>

