<% provide(:title, "QUEST一覧") %>

<div class="container-fluid">
  <div class="row">
  <%= render "boards/search_form" %>
      <% if @boards.present? %>
        <div class="container-fluid">
          <div class="row">
            <div class="row mb-2 mt-6">
              <%= render @boards %>
            </div>
          </div>
        </div>
      <% else %>
        <p>掲示板がありません</p>
      <% end %>
    </main>
  </div>
</div>

