<% provide(:title, "QUEST一覧") %>


<div class="container-fluid bg-white">
<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-sm-4 border border-success mt-4">
      <p>クイック検索 <%= render "boards/search_form", mode: "quick" %></p>
    </div>   
    <div class="col-sm-4 border border-success mt-4">
      <p>通常検索 <%= render "boards/runsack", mode: "normal" %></p>
    </div> 
  </div>
</div>
      <% if @boards.present? %>
        <div class="container-fluid mt-4">
          <div class="row">
            <div class="row mb-2 mt-6">
              <%= render @boards %>
            </div>
          </div>
        </div>
      <% else %>
        <p>掲示板がありません</p>
      <% end %>
    </main>
  </div>
</div>

