<% provide(:title, "QUEST一覧") %>
<div class="mt-4 mb-4">
  <%= render 'search_form', q: @q, url: boards_path %>
</div>
  <% if @boards.present? %>
  <div class="row mb-2 mt-6">
    <%= render @boards %>
  </div>
  <% else %>
    <p>掲示板がありません</p>
  <% end %>
  </div> 
