@import "bootstrap";


  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #ceb3a3;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  }
  
  #logo:hover {
    color: #e85f0a;
    text-decoration: none;
  }

  .navbar-inverse {
    background-color: #59321a; /* 背景色の変更 */
    border-color: #0f0600; /* ボーダー色の変更（必要に応じて） */
}

.left-half-image img {
  width: 50%;
  max-width: 100%; /* 画像がコンテナを超えないように設定 */
  height: auto; /* 高さを自動調整してアスペクト比を維持 */
  border-radius: 15px;
}

/* footer */

.bg-brown {
  background-color: #604c3f; /* 暗めの茶色 */
}

footer a {
  color: #f1e8e8;
}

footer a:hover {
  color: #e9dcdc;
}


footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@media (max-width: 800px) {
  footer small {
    display: block;
    float: none;
    margin-bottom: 1em;
  }
  footer ul {
    float: none;
    padding: 0;
  }
  footer ul li {
    float: none;
    margin-left: 0;
  }
}


/* miscellaneous debug用 */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* Dropdown menu */


/* login form */


/* ナビゲーションバーのアイテムのスタイリング */

/* 黒板 */
.center-container {
  text-align: center;
}

.blackboard {
 margin: 0 auto 1.5rem;
 padding: 1.6rem 1rem;
 font-size: 3.5rem;
 color: #fff;
 border: 2px solid #000;
 border-radius: 5px;
 box-shadow: 0 0 0 4px #fff inset;
 background-color: rgba(0,0,0,0.9);
 display: inline-block;
}
.blackboard.answer p {
 margin-left: 1.7rem;
}
.blackboard .blink-before {
 font-size: 2.5rem;
}
.blackboard a {
 text-decoration: none;
 color: #fff;
}

.blackboard p:last-of-type {
 margin-bottom: 0;
}

.coffee-rating {
  width: 100%;
  height: 20px;
  background-color: #f0e0d6; /* ライトブラウンの背景 */
  border-radius: 10px;
  overflow: hidden;
}

.coffee-rating-bar {
  height: 100%;
  border-radius: 10px;
}

label {
  padding-right: 10px;
  font-size: 1rem;
}

.custom-progress-bar {
  background-color: #8d4e2f;
  
}

@media (max-width: 576px) {
  .progress {
    height: 10px; /* 小さい画面でのゲージの高さを調整 */
  }
}

#map {
  height: 400px; /* 例えば400pxの高さを設定 */
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 150px;
  animation: fadeIn 2s ease-out; /* 2秒かけてフェードイン */
  color: #FFFFE0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.backgroundimage {
  background-image: image-url('background.png');
  background-size: cover;
  background-position: center;
}

.container-fluid {
  padding-top: 0;
}

.fixed-height {
  min-height: 250px; /* 最小高さを保証 */
  height: auto; /* コンテンツに応じて高さが拡張 */
  overflow: visible; /* 内容を切り取らない */
}

.text-container {
  max-height: 200px; /* 適切な最大高さに設定 */
  overflow-y: auto; /* 縦方向のスクロールバーを表示 */
}
.subtop{
  font-size: 100px;
  color: #FFFFE0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.border-full {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.star-rating {
  font-size: 0;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 30px;
  cursor: pointer;
}

.star-rating label:before {
  content: '★';
}

.star-rating input:checked ~ label:before {
  content: '★';
  color: gold;
}

.press-start-font {
  font-family: 'Press Start 2P', cursive;
}

.quest-form {
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
  border: 4px solid #ccc;
  border-radius: 8px;
}

.quest-fieldset {
  border-color: #333;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.quest-radio {
  margin-right: 5px;
}

.quest-submit {
  width: 10%;
  padding: 10px;
  background: #008000; /* Adjust the color to match Dragon Quest theme */
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px #006400;
}

.quest-submit:hover {
  background: #006400;
}

.quest-submit:active {
  box-shadow: 0 2px #006400;
  transform: translateY(2px);
}

.twitter a {
  color: #00acee;
}

.twitter a:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.avatar-image {
  width: 50px;  /* 幅を50ピクセルに設定 */
  height: 50px; /* 高さを50ピクセルに設定 */
  object-fit: cover; /* 画像のアスペクト比を保持しつつ、枠に合わせて表示 */
}

.card-img-top {
  width: 100px; 
  height: 100px; 
}

input[type=range] {
  width: 100%;
  margin: 10px 0;
}

input[type=range]:focus {
  outline: none;
}

/* Adjust the colors based on attribute */
input#acidity::-webkit-slider-runnable-track {
  background: linear-gradient(to right, rgba(255, 241, 118, 0.3), rgba(255, 235, 59, 1)); /* Yellow */
}

input#bitterness::-webkit-slider-runnable-track {
  background: linear-gradient(to right, rgba(215, 204, 200, 0.3), rgba(121, 85, 72, 1)); /* Brown */
}

input#body::-webkit-slider-runnable-track {
  background: linear-gradient(to right, rgba(141, 110, 99, 0.3), rgba(93, 64, 55, 1)); /* Brown */
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #aaa;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

.range-label {
  display: inline-block;
  font-size: 12px;
  margin-top: -15px;
}

#autocomplete-results {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 影を追加し、ドロップダウン感を強調 */
  max-height: 300px; /* 必要に応じてスクロールバーを表示 */
  overflow-y: auto;
}

.hero-section {
  background: url('/assets/center.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.img-fluid {
  max-height: 100vh;
  object-fit: cover;
}

.mypage-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  padding: 26px;
  border: 1px solid #ccc;
  z-index: 999;
}

.mypage-btn-container {
  position: relative;
  text-align: right; 
}

.mypage-btn-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mypage-dropdown a {
  color: #5c3e26;
  text-decoration: none;
}

.mypage-dropdown a:hover {
  color: #8b5c38;
}

.category-container:hover {
  cursor: pointer;
}

/* カルーセルの画像スタイル */
.carousel-item {
  height: 250px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 単一画像のスタイル */
.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* カードのスタイル */
.card {
  border: none;
  border-radius: 0.75rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.875rem;
}

.card-footer {
  border-top: none;
}

.rounded-circle {
  border: 2px solid #ddd;
}

.carousel-indicators button {
  background-color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* カルーセルの画像スタイル */
.carousel-item {
  height: 250px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* カードのスタイル */
.card {
  border: none;
  border-radius: 0.75rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.card-footer {
  border-top: none;
}

.rounded-circle {
  border: 2px solid #ddd;
}

.carousel-indicators button {
  background-color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* フォームのスタイルを改善 */
.new_board {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.form-label {
  font-weight: 600;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-size: 1.125rem;
  font-weight: 600;
}

/* プレビュー画像のスタイル */
#preview-container img {
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #dee2e6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.list-group-item {
  opacity: 0; /* 初期状態は非表示 */
  animation: fadeIn 0.5s forwards;
}

.list-group-item:nth-child(1) {
  animation-delay: 0.1s;
}

.list-group-item:nth-child(2) {
  animation-delay: 0.2s;
}

.list-group-item:nth-child(3) {
  animation-delay: 0.3s;
}
.pagy-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagy-nav .page-link {
  margin: 0 5px;
  padding: 8px 16px;
  border: 1px solid #007bff;
  border-radius: 4px;
  color: #007bff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.pagy-nav .page-link:hover {
  background-color: #007bff;
  color: white;
}

.pagy-nav .page-link.disabled {
  color: #ccc;
  border-color: #ccc;
}

.pagy-nav .page-item.active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.fa-star{
  color: #59321a;
}

.fa-line{
  color: #008000
}

.fa-x-twitter{
  color: #010201
}

.fixed-new-post-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
