@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 60px;
  }
  
  section {
    overflow: auto;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }
  
  section {
    overflow: auto;
  }

  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

  /* typography */

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  .left-half-content {
    width: 50%; /* 幅を画面の半分に設定 */
    text-align: center;
  } 
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: left; /* 'light'ではなく、'left' に修正 */
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #654040;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #492510;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  }
  
  #logo:hover {
    color: #4e2106;
    text-decoration: none;
  }
  .navbar-inverse {
    background-color: #642d0b; /* 背景色の変更 */
    border-color: #9a745e; /* ボーダー色の変更（必要に応じて） */
}

.right-half-content {
  width: 50%; /* 幅を画面の半分に設定 */
  /* 必要に応じて他のスタイルを追加 */
}

.container-flex {
  display: flex;
  justify-content: space-between; /* 要素を画面の両端に配置 */
  align-items: center; /* 要素を垂直方向の中心に配置 */
  height: 100vh; /* ビューポートの高さに合わせる */
}

.left-half-image img {
  width: 50%;
  max-width: 100%; /* 画像がコンテナを超えないように設定 */
  height: auto; /* 高さを自動調整してアスペクト比を維持 */
  border-radius: 15px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #070606;
  color: #340303;
}

footer a {
  color: #010000;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}


/* miscellaneous debug用 */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}

/* login form */

.navbar-img {
  float: right; /* 右寄せ */
  margin-right: 15px; /* 右側の余白 */
  margin-top: 5px; /* 上側の余白 */
  border-radius: 50%;
}

.main-container {
  background-image: url("/images/back.jpeg");
  height: 800px;
  background-size: cover;
}

/* ナビゲーションバーのアイテムのスタイリング */
.navbar-nav > li > a, .navbar-nav > li > button {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ドロップダウンメニューのボタンスタイリング */
#dropdownMenu {
  background: transparent;
  border: none;
  color: #fff; /* ナビゲーションバーの色に合わせて調整してください */
  padding: 15px;
  margin: 0;
  line-height: 20px; /* アイコンとテキストの高さを揃える */
}

/* アクティブまたはホバー状態のスタイル変更 */
#dropdownMenu:focus, #dropdownMenu:hover {
  background: rgba(255, 255, 255, 0.1); /* 軽いホバーエフェクト */
}

.board-wrapper {
  border: 3px solid #cccccc; /* 枠線の色と太さ */
  border-radius: 5px; /* 角丸 */
  padding: 20px; /* 内側の余白 */
  margin-bottom: 20px; /* 下の余白 */
  background-color: #f9f9f9; /* 背景色 */
}