<header>
<nav class='navbar navbar-expand-lg navigation navbar-light bg-light mb-0'>
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag 'logo.png', size: '50x50', class: 'me-2' %>
      <h1 class="mb-0"></h1>
    <% end %>
    
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto main-nav align-items-center">
        <li class="nav-item">
          <%= link_to "ログイン", login_path, class: "nav-link btn btn-info" %>
        </li>
      </ul>
    </div>
  </nav>
</header>