<footer class="footer bg-brown text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <small>
          The <a href="#" class="text-reset">Beanpedia</a>
          by <a href="https://github.com/fukuidaito" class="text-reset">fukuidaito</a>
        </small>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <ul class="list-unstyled mb-0 d-flex justify-content-center justify-content-lg-end">
          <li class="ms-3">
            <%= link_to "利用規約", "terms_of_service", class: "link-dark" %>
          </li>
          <li class="ms-3">
            <%= link_to "Contact", "#", class: "link-dark" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © <%= Time.now.year %> Beanpedia. All rights reserved.
  </div>
</footer>
