<div class="sidebar-sticky">
  <ul class="nav flex-column">
  <div class="row">
  <div class="col-lg-10 offset-lg-1 mb-4">
    <!-- 検索フォーム -->
    <form>
    <div class="input-group mb-3">
      <input type="search" class="form" placeholder="検索ワード" aria-label="検索ワード">
      <button type="submit" class="btn btn-outline-secondary btn-sm form">検索</button>
    </div>
  </form>
  </div>
</div>
    <li class="nav-item">
      <a class="nav-link active" href="#">Dashboard <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Customers</a>
    </li>
  </ul>
</div>